node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
android/app/build
android/.gradle
android/build
android/local.properties

# 隐私与用户存档保护
参考存档/
游戏apk/
*.apk
*.bak
photo_*.jpg
android/app/*.keystore
android/app/*.jks
android/app/*base64*.txt
